sbc
example/serialization/array
example/serialization/all
example/serialization/object_array
example/serialization/object
example/serialization/nested_object
example/serialization/nested_array
example/deserialization/array
example/deserialization/merge_json
example/deserialization/object

sbc.exe
example/serialization/array.exe
example/serialization/all.exe
example/serialization/object_array.exe
example/serialization/object.exe
example/serialization/nested_object.exe
example/serialization/nested_array.exe
example/deserialization/array.exe
example/deserialization/merge_json.exe
example/deserialization/object.exe
